header.g-header
  h1: a(href="/") SOBAP
  .search-bar
    .search-near-button
      span.mega-octicon.octicon-location(onClick=onClickLocation)
    .search-keyword-container
      input(type="search")
      .search-keyword-button
        span.octicon.octicon-search(onClick=onClickSearchKeyword)
