.search-bar-container
  .search-bar
    .search-near-button(class= ((isSearchResultsByCurrentLocation)? 'is-active' : ''))
      span.mega-octicon.octicon-location(onClick=onClickLocation)
    .search-keyword-container
      input(type="search" ref="inputSearch")
      .search-keyword-button
        button(onClick=onClickSearchKeyword)
          span.octicon.octicon-search
