doctype html
html
  head
    meta(charset="utf-8")
    title SOBAP
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel="stylesheet" href="octicons.css")
    link(rel="stylesheet" href="main.css")
  body
    header.g-header
      h1: a(href="/") SOBAP
      .search-bar
        .search-near-button
          span.mega-octicon.octicon-location
        .search-keyword-container
          input(type="search")
          .search-keyword-button
            span.octicon.octicon-search
    #map.map
    //- (style="top: -38vh")
    .main
      .eateries
        .eatery
          h3.eatery-name そじ坊
          p.eatery-address 東京都世田谷区瀬田3-8-17-303
          .eatery-g-static-map
            a(href="#" target="_blank")
              img(src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=17&size=640x360&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k")
          .eatery-catch-container
            p genre.catch キャッチコピーキャッチコピーキャッチコピーキャッチコピー
            p food.catch キャッチコピーキャッチコピーキャッチコピーキャッチコピー
          .eatery-link-external
            a.btn(href="//www.google.com/search?q=NAME" target="_blank")
              | Google
              span.octicon.octicon-link-external
            a.btn(href="urls.pc" target="_blank")
              | Hotpepper
              span.octicon.octicon-link-external
          .eatery-memo-container
            p shop_detial_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
            p other_memo メモテキストメモテキストメモテキストメモテキストメモテキストメモテキストメモテキストメモテキストメモテキストメモテキスト
        .eatery
          h3.eatery-name そじ坊
          p.eatery-address 東京都世田谷区瀬田3-8-17-303
          .eatery-g-static-map
            a(href="#" target="_blank")
              img(src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=17&size=640x360&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k")
          .eatery-catch-container
            p genre.catch キャッチコピーキャッチコピーキャッチコピーキャッチコピー

          .eatery-link-external
            a.btn(href="//www.google.com/search?q=NAME" target="_blank")
              | Google
              span.octicon.octicon-link-external
            a.btn(href="urls.pc" target="_blank")
              | Hotpepper
              span.octicon.octicon-link-external
          .eatery-memo-container
            p shop_detial_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
            p other_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
        .eatery
          h3.eatery-name そじ坊
          p.eatery-address 東京都世田谷区瀬田3-8-17-303
          .eatery-g-static-map
            a(href="#" target="_blank")
              img(src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=17&size=640x360&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k")
          .eatery-catch-container
            p genre.catch キャッチコピー
            p food.catch キャッチコピーキャッチコピーキャッチコピー
          .eatery-link-external
            a.btn(href="//www.google.com/search?q=NAME" target="_blank")
              | Google
              span.octicon.octicon-link-external
            a.btn(href="urls.pc" target="_blank")
              | Hotpepper
              span.octicon.octicon-link-external
          .eatery-memo-container
            p shop_detial_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
            p other_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
        .eatery
          h3.eatery-name そじ坊
          p.eatery-address 東京都世田谷区瀬田3-8-17-303
          .eatery-g-static-map
            a(href="#" target="_blank")
              img(src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=17&size=640x360&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k")
          .eatery-catch-container
            p genre.catch キャッチコピー
            p food.catch キャッチコピーキャッチコピーキャッチコピーキャッチコピー
          .eatery-link-external
            a.btn(href="//www.google.com/search?q=NAME" target="_blank")
              | Google
              span.octicon.octicon-link-external
            a.btn(href="urls.pc" target="_blank")
              | Hotpepper
              span.octicon.octicon-link-external
        .eatery
          h3.eatery-name そじ坊
          p.eatery-address 東京都世田谷区瀬田3-8-17-303
          .eatery-g-static-map
            a(href="#" target="_blank")
              img(src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=17&size=640x360&scale=2&key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k")
          .eatery-catch-container
            p genre.catch キャッチコピー
          .eatery-link-external
            a.btn(href="//www.google.com/search?q=NAME" target="_blank")
              | Google
              span.octicon.octicon-link-external
            a.btn(href="urls.pc" target="_blank")
              | Hotpepper
              span.octicon.octicon-link-external
          .eatery-memo-container
            p shop_detial_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
            p other_memo メモテキストメモテキストメモテキストメモテキストメモテキスト
    footer.g-footer
      p.copyright: small
        | &copy; 
        script.
          !function() {
            document.write(new Date().getFullYear());
          }();
        |  SOBAP
    //- script.
    //-   window.gmapInit = function() {
    //-     navigator.geolocation.getCurrentPosition(function(pos) {
    //-       var mapOpts = {
    //-         center: new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude),
    //-         zoom: 16,
    //-         mapTypeId: google.maps.MapTypeId.ROADMAP
    //-       };
    //-       new google.maps.Map(document.getElementById('map'), mapOpts);
    //- 
    //-       document.querySelector('.eateries').style.top = 0;
    //-     });
    //-   };
    //- script( src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k&sensor=true&callback=gmapInit")
