@charset "utf-8"

.g-footer
  padding 4px .68% 4px
  height 32px
  background #fff
  line-height 32px
  .copyright
    margin 0
    text-align right
    small
      color clr_bk
    a
      color inherit
      &:hover
        text-decoration none
  @media screen and (max-width: 567px)
    display none
