@charset "utf-8"

.g-header
  padding 4px 1.25% 4px
  height 32px
  width 97.5%
  background clr_wh
  box-shadow 0 0 1px 0 clr_bk
  line-height 32px
  position fixed
  z-index 10
  h1
    margin 0
    font-size 14px
    display inline-block
    vertical-align top
    a
      font-weight normal
      display block
      font-size 16px
      color clr_bk
      text-decoration none

  .g-menu
    position absolute
    top 0
    right 0
    z-index 10
    height 40px
    line-height 40px
    @media screen and (max-width: 567px)
      position fixed
      bottom 0
      top auto
      width 100%
      background #323b43
      height auto
      line-height normal
    ul
      padding 0
      margin 0
      list-style none
      li
        display inline-block
        list-style none
        vertical-align top
        @media screen and (max-width: 567px)
          width 50%
          text-align center
          padding .5em 0
          border-top 1px solid darken(clr_bk, 20%)
          border-left 1px solid darken(clr_bk, 20%)
          box-sizing border-box
          &:first-child
            border-left 0
      a
        color: inherit
        text-decoration: none
        display: block
        padding: 0 1em
        font-size: 14px
        &:hover
          color clr_wh
          background clr_bk
        @media screen and (max-width: 567px)
          color #f4f7f9
          font-size 12px
        .octicon
          display none
          @media screen and (max-width: 567px)
            display block
      .active
        color clr_wh
        background clr_bk
        @media screen and (max-width: 567px)
          &[href*=search]
            color clr_red
          &[href*=star]
            color clr_yl

.search-bar-container
  padding 4px 1.25% 4px
  height 32px
  top 40px
  line-height 32px
  position relative
  background clr_bk
  box-shadow 0 0 4px 0 clr_bk
  z-index 9

.search-near-button
  position absolute
  top 4px
  left 50%
  transform translateX(-50%)
  display inline-block
  width 48px
  height 48px
  line-height 52px
  border-radius 50%
  box-sizing border-box
  text-align center
  cursor pointer
  background clr_bk
  box-shadow 0 0 4px 0 clr_bk
  z-index 1
  span
    color #fff
    transition .1s font-size ease-out
  &:hover
    span
      font-size 34px
      color clr_red

.search-keyword-container
  position absolute
  top 4px
  right 4px
  line-height 1
  input[type="search"]
    width 128px
    height 24px
    padding 0 .2em
    box-sizing border-box
    line-height 24px
    appearance none
    border 0
    vertical-align middle
    @media screen and (max-width: 767px)
      width 96px

    @media screen and (max-width: 567px)
      width 64px

  .search-keyword-button
    display inline-block
    text-align center
    cursor pointer
    vertical-align middle
    margin-left 4px
    button
      width 32px
      height 32px
      display inline-block
      padding 0
      appearance none
      background none
      border 0
      outline none
      vertical-align middle
      span
        vertical-align bottom
        transition .1s font-size ease-out
      &:hover
        span
          font-size 19px
  .octicon
    color #fff
