@charset "utf-8"

.btn
  background clr_gry
  display inline-block
  border 1px solid clr_gry
  border-radius 2px
  padding 0 8px
  height 32px
  line-height 32px
  font-size 14px
  vertical-align middle
  color clr_wh
  text-decoration none
  .octicon
    margin 0 0 0 8px
  &:hover
    background clr_wh
    color clr_gry
