@charset "utf-8"

.shop
  // border-color clr_lgry
  // border-style solid
  // border-width 2px
  // border-top 0
  // border-left 0
  background clr_wh
  width 32.5%
  // margin-left 1.25%
  margin-bottom 1.25%
  // float left
  // margin auto
  box-sizing border-box
  padding .68%
  color clr_bk
  // &:nth-child(3n + 1)
  //   margin-left 0
  .shop-name
    margin-top 0
    border-bottom 1px solid clr_lgry
    line-height 2
  .shop-g-static-map
    margin 16px 0
    img
      width 100%
      height auto
  .shop-link-external
    margin 16px 0
    a
      margin 0 4% 4% 0
  .shop-memo-container
    border-top 1px solid clr_lgry
