@charset "utf-8"

.social-contailer
  width 50%
  float left

.social-btn
  vertical-align top
  appearance none
  outline none
  font-size 12px
  line-height 1
  padding 0 8px
  box-sizing border-box
  margin-right .4em
  display inline-block
.social-fb
  background clr_fb
  border 1px solid clr_fb
  &:hover
    color clr_fb
.social-tw
  background clr_tw
  border 1px solid clr_tw
  &:hover
    color clr_tw
