@charset "utf-8"

clr_bk_comp = #cdc4bc
clr_bk = #323b43
clr_gry = #59626a
clr_lgry = #ced7df
clr_wh = #f4f7f9
clr_red = indianred
clr_yl = gold

clr_key = #168eea

clr_success = #76b852
clr_error = #ee4f4f

clr_tw = #55acee
clr_fb = #3b5998
clr_pin = #bd081c
