doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title SOBAP beta - お蕎麦屋検索 蕎麦マップ
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="お蕎麦屋検索 蕎麦マップ")

    meta(property="og:type" content="website")
    meta(property="og:title" content="SOBAP beta - お蕎麦屋検索 蕎麦マップ")
    meta(property="og:description" content="お蕎麦屋検索 蕎麦マップ")
    meta(property="og:url" content="http://sugarshin.github.io/sobap/")
    meta(property="og:site_name" content="SOBAP beta")
    meta(content="summary" name="twitter:card")
    meta(content="@sugarshin" name="twitter:site")

    link(href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel="stylesheet" href="css/main.css?v")
    link(rel="stylesheet" href="css/octicons.css")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k&sensor=false")
  body
    #container.container
    script(src="js/main.js?v")
