doctype html
html
  head
    meta(charset="utf-8")
    title SOBAP
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="css/octicons.css")
    link(rel="stylesheet" href="css/main.css")
  body
    header.g-header: h1: a(href="/") SOBAP
    #eatery
    //- #map.map
    //- script( src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBPUZBpfVczPqaeVD8SuzFR4DvWlMd1D2k&sensor=true&callback=gmapInit")
    script(src="js/main.js")
      //- :coffee
      //-   do ->
      //-     gmapInit = ->
      //-       navigator.geolocation.getCurrentPosition (pos) ->
      //-         mapOpts = 
      //-           center: new google.maps.LatLng pos.coords.latitude, pos.coords.longitude
      //-           zoom: 16
      //-           mapTypeId: google.maps.MapTypeId.ROADMAP
      //-         map = new google.maps.Map document.getElementById('map'), mapOpts
      //- 
      //-     window.gmapInit = gmapInit
